body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  h3.title {
    font-size: 20px;;
    background-color: transparent;
    color: darkcyan;
    background: honeydew;
    font-variant: all-small-caps;
    display: contents;
}
.card {
  padding-bottom:0; 
  padding-top:0.2% ; 
  background-color: mintcream
}
.header-image {
  background-image: url('../assets/images/logo.png');
  background-size: cover;
}